@import "tailwindcss";
@import "flowbite/src/themes/default";

@plugin "flowbite/plugin";

@theme {
  --color-primary: #ad1212;
  --color-secondary: #3D3935;
  --color-secondary-light: #E6E3DF;
}

@theme inline {
  --font-alfa: var(--font-alfa-slab-one);
  --font-anek: var(--font-anek-tamil);
  --font-inter: var(--font-inter);
  --font-corinthia: var(--font-corinthia);
  --color-primary: #AD1212;
  --color-primary-light: #E5756D;
  --color-primary-lighter: #EF9F99;
  }

